.contact-header {
    color: black;
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 700%;
}
.card-title {
    font-family: 'Mountains of Christmas', cursive;
}
.contact {
    background-image: url('img/background.jpg'); 
    background-size: cover;
}
footer {
    background-color: crimson;
}
.contact-text {
    text-align: center;
    font-size: 200%;
}
.img-thumbnail {
    text-align: center;
    height: 300px;
}